<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="chat" href="/tabs/chat">
      <ion-icon aria-hidden="true" name="chatbubble-ellipses-outline"></ion-icon>
      <ion-label>Chat</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="learn" href="/tabs/learn">
      <ion-icon aria-hidden="true" name="school-outline"></ion-icon>
      <ion-label>Learn</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="rewards" href="/tabs/rewards">
      <ion-icon aria-hidden="true" name="trophy-outline"></ion-icon>
      <ion-label>Rewards</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/tabs/profile">
      <ion-icon aria-hidden="true" name="person-circle-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="help" href="/tabs/help">
      <ion-icon aria-hidden="true" name="help-circle-outline"></ion-icon>
      <ion-label>Help</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
