<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Rewards
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Rewards</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Welcome to Rewards</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        This is the Rewards page where you can view and redeem your earned rewards.
      </ion-card-content>
    </ion-card>
  </div>
</ion-content> 