<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profile</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Welcome to Profile</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        This is the Profile page where you can manage your account settings and personal information.
      </ion-card-content>
    </ion-card>
  </div>
</ion-content> 